{% extends 'base.html.twig' %}

{% block title %}Edit Vehicules{% endblock %}

{% block body %}
    <h1>Modifier vehicule</h1>

    {{ include('vehicules/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_vehicules_index') }}">Retour liste véhicules</a>

    {{ include('vehicules/_delete_form.html.twig') }}
{% endblock %}
