{% extends 'base.html.twig' %}

{% block title %}New Vehicules{% endblock %}

{% block body %}
    <h1>Ajouter véhicules</h1>

    {{ include('vehicules/_form.html.twig') }}

    <a href="{{ path('app_vehicules_index') }}">Retour liste véhicules</a>
{% endblock %}
